.overlay-bg {
  position: fixed;
  inset: 0;
  background: var(--color-sidebar-overlay);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 9998;
}

.overlay-bg.show {
  opacity: 1;
  pointer-events: all;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: var(--color-sidebar-bg);
  color: var(--color-sidebar-text);

  transform: translateX(-100%);
  transition: 0.3s;

  z-index: 9999;

  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar.open {
  transform: translateX(0);
}

/* HEADER */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

/* NAV */
.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar nav a {
  text-decoration: none;
  color: var(--color-sidebar-text);
  font-size: 18px;
}

/* FOOTER */
.sidebar-footer {
  margin-top: auto;
  font-size: 14px;
  color: var(--color-sidebar-footer);
}